@font-face {
    font-family: 'Spotify Mix';
    src: url('SpotifyMix-Regular.eot');
    src: local('Spotify Mix Regular'), local('SpotifyMix-Regular'),
        url('SpotifyMix-Regular.eot?#iefix') format('embedded-opentype'),
        url('SpotifyMix-Regular.woff2') format('woff2'),
        url('SpotifyMix-Regular.woff') format('woff'),
        url('SpotifyMix-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Spotify Mix';
    src: url('SpotifyMix-RegularItalic.eot');
    src: local('Spotify Mix Regular Italic'), local('SpotifyMix-RegularItalic'),
        url('SpotifyMix-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('SpotifyMix-RegularItalic.woff2') format('woff2'),
        url('SpotifyMix-RegularItalic.woff') format('woff'),
        url('SpotifyMix-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

